.jewels{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gem{
    border: 1px solid green;
    height: 200px;
    width: 200px;
}

.gem-image{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin: 10px;
}

body {
    background-image: url("../images/floralBackground.jpg");
}

.CollectorBox {
    height: 100px;
    width: 300px;
    background-color: brown;
    color:  white;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}

.instructions {
    height: 250px;
    width: 600px;
    background-color: tan;
    color:  green;
    line-height: 20px;
    padding: 20px;
    margin: 10px;
}

#randomNumberWinLose {
    display: flex;
    justify-content: space-around;
    align-items: left;
    height: 140px;
    width: 640px;
    margin: 10px;
}

#randomNumber {
    height: 100px;
    width: 300px;
    float: left;
    background-color: red;
    color:  white;
    line-height: 100px;
    padding: 20px 50px;
    margin-right: 10px;
    text-align: center;
}

#winLose {
    height: 100px;
    width: 300px;
    float: left;
    background-color: red;
    color:  white;
    line-height: 20px;
    padding: 20px 50px;
    margin-left: 10px;
}

#box {
    height: 100px;
    width: 300px;
    background-color: brown;
    color:  white;
    text-align: center;
    line-height: 100px;
    margin: 10px;
}

#numberTotal {
    height: 100px;
    width: 300px;
    background-color: brown;
    color:  white;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    font-size: 50px;
}

#randomNumber{
    font-size: 50px;
}

